<div class="container">
	<div style="padding: 20px;">
		<h2 class="titleStyle"><b>ENINSE - Registre Employees</b></h2>
		<br>
		<nav>
			<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active"><i class="fa fa-user"></i> <b>Employes</b></a>
			<a routerLink="add"	class="btn btn-primary active" role="button" routerLinkActive="active"><i class="fa fa-user-plus"></i> <b>Ajouter</b></a>
			<a routerLink="findbylastname"	class="btn btn-primary active" role="button" routerLinkActive="active"><i class="fa fa-search"></i> <b>Recherche</b></a>
		</nav>
		<router-outlet></router-outlet>
	</div>
</div>

